
body{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 15px;
    margin:16px  64px 0 64px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 30px;

}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #465F61;
    font-size:24px;
}

main{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #465F61;
}

span{
    color:#B088A1;
}

p{
    line-height: 20px;
    max-width: 450px;
    color: #465F61;
}

img{

    max-width:25rem;

}

a{
    font-size:20px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    color:#465F61;
    
}

a:hover{
    color:#B088A1;
    transition: 0.3s all;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
     height: 50px;
     width: 50%;
     background-color:#B088A1;
     color: white;
     cursor: pointer;

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid ;
    font-size: 15px;
   
}

